<div id="<%= dom_id research %>">
  <p>
    <strong>User:</strong>
    <%= research.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= research.title %>
  </p>

  <p>
    <strong>Number of auther:</strong>
    <%= research.number_of_auther %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= research.year %>
  </p>

  <p>
    <strong>Journal:</strong>
    <%= research.journal %>
  </p>

  <p>
    <strong>Patent:</strong>
    <%= research.patent %>
  </p>

</div>
