<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">username</th>
      <th scope="col">email</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <th scope="row"><%= user.id %></th>
      <td><%= user.name %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'show' ,user_path(user.id), class:"btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New user", new_user_path %>
